<?xml version="1.0"?>

<robot>

	<property name="PI" value="3.1415926535897931"/>

	<!-- standard distances -->
	<property name="d_lr" value="0.414"/>
	<property name="d_fh" value="0.747"/>
	<property name="d_tbb" value="0.082"/>
	<property name="d_p1p2" value="0.35"/>

	<!-- Initial joint positions -->
	<property name="haa_pos0" value="0"/>
	<property name="hfe_pos0" value="0"/>
	<property name="kfe_pos0" value="0"/>

	<!-- Inertial values -->
	<!-- Trunk with hydraulic system -->
	<property name="m_trunk" value="53.0"/>
	<property name="ixx_trunk" value="1.26"/>
	<property name="iyy_trunk" value="6.56"/>
	<property name="izz_trunk" value="6.69"/>
	<property name="ixy_trunk" value="0.03"/>
	<property name="ixz_trunk" value="-0.06"/>
	<property name="iyz_trunk" value="-0.03"/>
	<!-- Hip assembly -->
	<property name="m_hip" value="2.482"/>
	<property name="ixx_hip" value="0.0956126"/>
	<property name="iyy_hip" value="0.1012626"/>
	<property name="izz_hip" value="6.758E-4"/>
	<property name="ixy_hip" value="0.0"/>
	<property name="ixz_hip" value="0.011"/>
	<property name="iyz_hip" value="0.0"/>
	<!-- Upper leg -->
	<property name="m_upper" value="2.16"/>
	<property name="ixx_upper" value="0.004785"/>
	<property name="iyy_upper" value="0.076166"/>
	<property name="izz_upper" value="0.078576"/>
	<property name="ixy_upper" value="0.0071588"/>
	<property name="ixz_upper" value="0.0"/>
	<property name="iyz_upper" value="0.0"/>
	<!-- Lower leg -->
	<property name="m_lower" value="1.8717"/>
	<property name="ixx_lower" value="9.0E-4"/>
	<property name="iyy_lower" value="0.0777"/>
	<property name="izz_lower" value="0.0775"/>
	<property name="ixy_lower" value="-0.0"/>
	<property name="ixz_lower" value="-0.0"/>
	<property name="iyz_lower" value="0.0"/>

	<!-- PTU unit -->
	<property name="pan_velocity" value="1.0" />
	<property name="pan_range" value="2.775" />
	<property name="tilt_velocity" value="1.0" />
	<property name="tilt_up_range" value="0.52" />
	<property name="tilt_down_range" value="0.82" />
	<property name="joint_effort" value="30" /> 

	<!-- Asus Xtion Camera Location (Nominally 0) -->
	<property name="asus_xtion_x" value="0.0"/>
	<property name="asus_xtion_depth_y" value="0.069"/>
	<property name="asus_xtion_rgb_y" value="0.049"/>
	<property name="asus_xtion_z" value="0.03"/>
	<property name="asus_xtion_roll" value="${-PI/2}"/>
	<property name="asus_xtion_pitch" value="0.0"/>
	<property name="asus_xtion_yaw" value="${-PI/2}"/>

	<!-- Kinect Camera Location (Nominally 0) -->
	<property name="kinect_x" value="0.025"/>
	<property name="kinect_ir_y" value="0.01"/>
	<property name="kinect_rgb_y" value="0.015"/>
	<property name="kinect_z" value="0.052"/>
	<property name="kinect_roll" value="${-PI/2}"/>
	<property name="kinect_pitch" value="0.0"/>
	<property name="kinect_yaw" value="${-PI/2}"/>
	
	<!-- Bumblebee mass and lengths for computing inertia tensor -->
	<property name="b2mass" value="0.342"/>
	<property name="b2lx" value="0.157"/>
	<property name="b2ly" value="0.036"/>
	<property name="b2lz" value="0.0474"/>

	<!-- Velodyne Lidar Location (Nominally 0) -->
	<property name="velodyne_x" value="0.0"/>
	<property name="velodyne_y" value="0.0"/>
	<property name="velodyne_z" value="0.09"/>

	<!-- HighDef Camera Location (Nominally 0) -->
	<property name="cal_high_def_x" value="0.0" />
	<property name="cal_high_def_y" value="0.0" />
	<property name="cal_high_def_z" value="0.0" />
	<property name="cal_high_def_roll" value="0.0" />
	<property name="cal_high_def_pitch" value="0.0" />
	<property name="cal_high_def_yaw" value="0.0" />

</robot>
