<?xml version="1.0"?>

<model>
  <name>HyQ Environments: Small Rock</name>
  <version>1.0</version>
  <sdf version="1.4">model.sdf</sdf>

  <author>
    <name>Carlos Mastalli</name>
    <email>carlos.mastalli@iit.it</email>
  </author>

  <description>
    This model approximates to a real small rock
  </description>
</model>
