<?xml version="1.0"?>

<robot xmlns:xacro="http://ros.org/wiki/xacro">
        <xacro:macro name="new_calibration_plate_xacro" params="*origin parent">

        <joint name="foot_calibration_plate_joint" type="fixed">
                <xacro:insert_block name="origin"/>
                <parent link="${parent}"/>
                <child link="new_ext_calibration_plate_head"/>
        </joint>

        <link name="new_ext_calibration_plate_head">
            <visual>
                    <origin xyz="0.1 0.1 -0.005" rpy="0 ${PI} 0" />
                    <geometry>
                            <box size="0.2 0.2 0.01" />
                    </geometry>
                    <material name="">
                            <color rgba="0.361 0.361 0.341 1" />
                    </material>
            </visual>
        </link>
	</xacro:macro>

</robot>
