<?xml version="1.0"?>

<robot name="hyq" xmlns:xacro="http://www.ros.org/wiki/xacro">

	<!-- The following included files set up definitions of parts of the robot body -->
	<xacro:include filename="$(find hyq_description)/urdfs/common.xacro"/>
	<!-- HyQ base -->
	<xacro:include filename="$(find hyq_description)/urdfs/trunk/trunk.urdf.xacro"/>

	<!-- HyQ legs -->
	<xacro:include filename="$(find hyq_description)/urdfs/leg/leg.urdf.xacro"/>

	<!-- HyQ torso -->
<!--  <xacro:include filename="$(find hyq_model)/urdfs/torso/torso.urdf.xacro" />-->

	<!-- HyQ sensors -->
	<xacro:include filename="$(find hyq_description)/urdfs/sensors/microstrain_3dmgx325_imu.urdf.xacro"/>
	<xacro:include filename="$(find hyq_description)/urdfs/sensors/asus_xtion.urdf.xacro"/>
	<xacro:include filename="$(find hyq_description)/urdfs/sensors/velodyne.urdf.xacro"/>
	<xacro:include filename="$(find hyq_description)/urdfs/sensors/kinect.urdf.xacro"/>
	<xacro:include filename="$(find hyq_description)/urdfs/sensors/ptu_d46.urdf.xacro"/>
	<xacro:include filename="$(find hyq_description)/urdfs/sensors/bumblebee.urdf.xacro"/>

	<!-- generic simulator_gazebo plugins for starting mechanism control, ros time -->
	<xacro:include filename="$(find hyq_description)/gazebo/gazebo.urdf.xacro"/>

	<!-- Now we can start using the macros included above to define the actual HyQ -->

	<!-- The first use of a macro. This one was defined in trunk.urdf.xacro above.
A macro like this will expand to a set of link and joint definitions, and to additional
Gazebo-related extensions (sensor plugins, etc). The macro takes an argument, name,
that equals "base", and uses it to generate names for its component links and joints
(e.g., base_link). The included origin block is also an argument to the macro. By convention,
the origin block defines where the component is w.r.t its parent (in this case the parent
is the world frame). For more, see http://www.ros.org/wiki/xacro -->

	<!-- body -->
	<!-- trunk -->
	<xacro:hyq_trunk name="base" />

	<!-- LF leg -->
	<xacro:hyq_leg
		name="lf"
		parent="trunk"
		reflect_hip="1"
		reflect_upper="1"
		reflect_front="1">
		<origin xyz="${d_fh/2} ${d_lr/2} 0" rpy="0 ${PI/2} ${PI}"/>
	</xacro:hyq_leg>

	<!-- RF leg -->
	<xacro:hyq_leg
		name="rf"
		parent="trunk"
		reflect_hip="-1"
		reflect_upper="-1"
		reflect_front="1">
		<origin xyz="${d_fh/2} ${-d_lr/2} 0" rpy="0 ${PI/2} 0"/>
	</xacro:hyq_leg>

	<!-- LH leg -->
	<xacro:hyq_leg
		name="lh"
		parent="trunk"
		reflect_hip="-1"
		reflect_upper="1"
		reflect_front="-1">
		<origin xyz="${-d_fh/2} ${d_lr/2} 0" rpy="0 ${PI/2} ${PI}"/>
	</xacro:hyq_leg>

	<!-- RH leg -->
	<xacro:hyq_leg
		name="rh"
		parent="trunk"
		reflect_hip="1"
		reflect_upper="-1"
		reflect_front="-1">
		<origin xyz="${-d_fh/2} ${-d_lr/2} 0" rpy="0 ${PI/2} 0"/>
	</xacro:hyq_leg>

	<!-- IMU trunk -->
	<xacro:microstrain_3dmgx325_imu
		parent="trunk"
		imu_name="3dmgx325_trunk_imu"
		imu_topic="trunk_imu/data"
		update_rate="100.0"
		stdev="0.00017">
		<origin xyz="0.3 0 0.095" rpy="0 ${-PI} 0"/>
	</xacro:microstrain_3dmgx325_imu>


	<!-- Asus Xtion Pro -->
	<xacro:asus_xtion_camera
		name="head_mount"
		parent="ptu_mount_link">
		<origin xyz="0.0 0 0.015" rpy="0 0 0"/>
<!-- The vertical offset between the middle of xtion and the middle of bumblebee is 5 cm-->
<!-- but since bumblebee_mount_link is computed in the middle of the camera and the xtion on its base instead -->
<!-- we have 5 cm - 3.5 cm (vertical distance between xtion optical frame and base) = 1.5 cm -->
	</xacro:asus_xtion_camera> 


	<!-- Velodyne -->
	<!--xacro:velodyne
		name="trunk_mount"
		parent="trunk">
		<origin xyz="0.39 0 0.269" rpy="0 0 0"/>
	</xacro:velodyne-->

	<!-- Kinect --> <!-- is no more used, but we keep it for compatibilty -->
	<!--xacro:kinect_camera
		name="head_mount"
		parent="trunk">
		<origin xyz="0.63 0 0.095" rpy="0 0 0"/>
	</xacro:kinect_camera-->

	<!-- PTU unit -->	
	<xacro:ptu_d46
		name="ptu"
		parent="trunk">
		<origin xyz="0.693327 -0.015447 0.119533" rpy="-0.013127 0.574478 -0.007748"/>
	</xacro:ptu_d46>

	<!-- Bumblebee -->
	<xacro:bumblebee_97
		parent_link="ptu_mount_link"
		xyz="0 0 0"
		rpy="0 0 0"
		ns="bumblebee"
		frame_prefix="bumblebee_"
		high_res="false"/>
</robot>
