<?xml version="1.0"?>

<robot xmlns:xacro="http://ros.org/wiki/xacro">
	<xacro:macro name="vicon" params="subject segment target_frame *origin">
		<joint name="${subject}_joint" type="fixed">
			<axis xyz="0 0 0" />
			<insert_block name="origin" />
			<parent link="vicon/${subject}/${segment}"/>
			<child link="${target_frame}"/>
		</joint>

		<link name="vicon/${subject}/${segment}">
			<visual>
				<origin xyz="0 0 0" rpy="0 0 0" />
				<geometry>
                                    <sphere radius="0.007"/>
				</geometry>
                                <material name="silver">
                                    <color rgba="0.95 0.95 0.95 1.0"/>
                                </material>
			</visual>			
		</link>
        </xacro:macro>
</robot>


