<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">


	<!-- Things that are needed only for Gazebo (not the physical robot). These include sensor and controller plugin specifications -->
	<xacro:include filename="$(find hyq_description)/urdfs/trunk/trunk.gazebo.xacro"/>


	<!-- ================================ Trunk ================================ -->
	<!-- The xacro macro xacro:hyq_base contains: base and trunk -->
	<xacro:macro name="hyq_trunk" params="name">

		<!-- Footprint link -->
		<!-- inertial to avoid being ignore!-->
		<link name="${name}_link">
			<visual>
				<geometry>
					<cylinder length="0.01" radius="0.01"/>
				</geometry>
			</visual>
		</link>

		<!-- Trunk link-->
		<!-- value manually found with RVIZ to correctly align the trunk to the hip assemblies -->
		<link name="trunk">
			<visual>
				<origin xyz="0 0 -0.0082" />
				<geometry>
					<mesh filename="package://hyq_description/meshes/trunk/trunk.dae" scale="1 1 1" />
				</geometry>
			</visual>
			<inertial>
				<origin xyz="${xcom_trunk} ${ycom_trunk} ${zcom_trunk}"/>
				<mass value="${m_trunk}"/>
				<inertia ixx="${ixx_trunk}" iyy="${iyy_trunk}" izz="${izz_trunk}"
						 ixy="${ixy_trunk}" ixz="${ixz_trunk}" iyz="${iyz_trunk}"/>
			</inertial>
			<collision>
				<origin xyz="0 0 -0.0082" />
				<geometry>
					<mesh filename="package://hyq_description/meshes/trunk/trunk.dae" scale="1 1 1" />
				</geometry>
			</collision>
		</link>
		
        <joint name="floating_base" type="fixed">
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <parent link="base_link"/>
            <child link="trunk"/>
        </joint>

		<!-- Extensions -->
		<xacro:trunk_gazebo name="trunk"/>
	</xacro:macro>

</robot>
