<?xml version="1.0" ?>
<robot name="hyq" xmlns:xacro="http://ros.org/wiki/xacro">
  <group name="base">
    <link name="base_link"/>
  </group>
  <group name="lf">
    <chain base_link="trunk" tip_link="lf_foot"/>
  </group>
  <group name="rf">
    <chain base_link="trunk" tip_link="rf_foot"/>
  </group>
  <group name="lh">
    <chain base_link="trunk" tip_link="lh_foot"/>
  </group>
  <group name="rh">
    <chain base_link="trunk" tip_link="rh_foot"/>
  </group>
  <group name="chains">
    <group name="lf"/>
    <group name="rf"/>
    <group name="lh"/>
    <group name="rh"/>
  </group>
  <group_state group="chains" name="home">
    <joint name="lf_haa_joint" value="-0.2"/>
    <joint name="lf_hfe_joint" value="0.75"/>
    <joint name="lf_kfe_joint" value="-1.5"/>
    <joint name="rf_haa_joint" value="-0.2"/>
    <joint name="rf_hfe_joint" value="0.75"/>
    <joint name="rf_kfe_joint" value="-1.5"/>
    <joint name="lh_haa_joint" value="-0.2"/>
    <joint name="lh_hfe_joint" value="-0.75"/>
    <joint name="lh_kfe_joint" value="1.5"/>
    <joint name="rh_haa_joint" value="-0.2"/>
    <joint name="rh_hfe_joint" value="-0.75"/>
    <joint name="rh_kfe_joint" value="1.5"/>
  </group_state>
</robot>


