<?xml version="1.0"?>

<robot name="hyq" xmlns:xacro="http://www.ros.org/wiki/xacro">

	<!-- The following included files set up definitions of parts of the robot body -->
	<xacro:include filename="$(find hyq_description)/urdfs/common.xacro"/>
	<!-- HyQ trunk -->
	<xacro:include filename="$(find hyq_description)/urdfs/trunk/trunk_model.urdf.xacro"/>

	<!-- HyQ legs -->
	<xacro:include filename="$(find hyq_description)/urdfs/leg/leg.urdf.xacro"/>

	<!-- generic simulator_gazebo plugins for starting mechanism control, ros time -->
	<xacro:include filename="$(find hyq_description)/gazebo/gazebo.urdf.xacro"/>

	<!-- Now we can start using the macros included above to define the actual HyQ -->
	<xacro:include filename="$(find hyq_description)/urdfs/sensors/microstrain_3dmgx425_imu.urdf.xacro"/>
	<xacro:include filename="$(find hyq_description)/urdfs/sensors/teraranger_range.urdf.xacro"/>

	<!-- The first use of a macro. This one was defined in trunk.urdf.xacro above.
A macro like this will expand to a set of link and joint definitions, and to additional
Gazebo-related extensions (sensor plugins, etc). The macro takes an argument, name,
that equals "base", and uses it to generate names for its component links and joints
(e.g., base_link). The included origin block is also an argument to the macro. By convention,
the origin block defines where the component is w.r.t its parent (in this case the parent
is the world frame). For more, see http://www.ros.org/wiki/xacro -->

	<!-- body -->
	<!-- trunk -->
	<xacro:hyq_trunk name="base">
		<origin xyz="-0.443 -0.191 -0.276" rpy="0 0 0"/>
	</xacro:hyq_trunk>

	<!-- LF leg -->
	<xacro:hyq_leg
		name="lf"
		parent="trunk"
		reflect_hip="1"
		reflect_upper="1"
		reflect_front="1">
		<origin xyz="${d_fh/2} ${d_lr/2} 0" rpy="0 ${PI/2} ${PI}"/>
	</xacro:hyq_leg>

	<!-- RF leg -->
	<xacro:hyq_leg
		name="rf"
		parent="trunk"
		reflect_hip="-1"
		reflect_upper="-1"
		reflect_front="1">
		<origin xyz="${d_fh/2} ${-d_lr/2} 0" rpy="0 ${PI/2} 0"/>
	</xacro:hyq_leg>

	<!-- LH leg -->
	<xacro:hyq_leg
		name="lh"
		parent="trunk"
		reflect_hip="-1"
		reflect_upper="1"
		reflect_front="-1">
		<origin xyz="${-d_fh/2} ${d_lr/2} 0" rpy="0 ${PI/2} ${PI}"/>
	</xacro:hyq_leg>

	<!-- RH leg -->
	<xacro:hyq_leg
		name="rh"
		parent="trunk"
		reflect_hip="1"
		reflect_upper="-1"
		reflect_front="-1">
		<origin xyz="${-d_fh/2} ${-d_lr/2} 0" rpy="0 ${PI/2} 0"/>
	</xacro:hyq_leg>

	<!-- IMU trunk -->
	<xacro:microstrain_3dmgx425_imu
		parent="trunk"
		imu_name="imu"
		imu_topic="trunk_imu/data"
		update_rate="250"
		rate_mean="0"
		rate_stddev="2e-4"
		rate_bias_mean="0.00087"
		rate_bias_stddev="0.0000008"
		accel_mean="0"
		accel_stddev="1.7e-2"
		accel_bias_mean="0.002"
		accel_bias_stddev="0.001">
		<origin xyz="0.290 0.000 0.0999214" rpy="0 ${-PI} 0"/>
	</xacro:microstrain_3dmgx425_imu>


		<!-- teraranger -->
    <xacro:teraranger_range
		name="rf_ranger"
		parent="rf_lowerleg"
		ros_topic="rf_terarangerone_kinematics"
		update_rate="0"
		range="4.0">
		<origin xyz="0.12 0.0 0.0" rpy = "${PI/2} 0.0 0.0"/>
	</xacro:teraranger_range>

</robot>
