<?xml version="1.0" ?>
<launch>

	<arg name="sensors" default="true"/>

	<!-- send the robot description file -->
	<param name="/hyq/robot_config" value="$(find hyq_description)/yarf/hyq.yarf"/>

	<!-- send HyQ urdf to param server -->
	<group if="$(arg sensors)">
		<param name="robot_description" command="$(find xacro)/xacro.py '$(find hyq_description)/robots/hyq.urdf.xacro'"/>
		<param name="hyq/robot_model" command="$(find xacro)/xacro.py '$(find hyq_description)/robots/hyq_model.urdf.xacro'"/>

		<!-- Stereo image processing -->
		<node ns="multisense/camera" name="stereo_proc" pkg="stereo_image_proc" type="stereo_image_proc" respawn="false" output="log">
			<param name="disparity_range" type="int" value="128"/>
			<param name="approximate_sync" type="bool" value="false"/>
		</node>

	</group>
	<group unless="$(arg sensors)">
		<param name="robot_description" command="$(find xacro)/xacro.py '$(find hyq_description)/robots/hyq_no_sensors.urdf.xacro'"/>
		<param name="hyq/robot_model" command="$(find xacro)/xacro.py '$(find hyq_description)/robots/hyq_model.urdf.xacro'"/>
	</group>

</launch>
