<?xml version="1.0"?>

<robot>

	<property name="PI" value="3.1415926535897931"/>

	<!-- standard distances -->
	<property name="d_lr" value="0.414"/>
	<property name="d_fh" value="0.747"/>
	<property name="d_p0p1" value="0.08"/>
	<property name="d_p1p2" value="0.35"/>
	<property name="d_p2p3" value="0.341"/>

	<!-- Inertial values -->
	<!-- Trunk with hydraulic system -->
	<property name="xcom_trunk" value="0.02707"/>
	<property name="ycom_trunk" value="0.0000"/>
	<property name="zcom_trunk" value="0.03290"/>
	<property name="m_trunk" value="67"/>
	<property name="ixx_trunk" value="1.61053"/>
	<property name="iyy_trunk" value="8.53505"/>
	<property name="izz_trunk" value="9.19102"/>
	<property name="ixy_trunk" value="-0.02880"/>
	<property name="ixz_trunk" value="0.34161"/>
	<property name="iyz_trunk" value="0.00380"/>

	<!-- Hip assembly -->
	<property name="xcom_hipassembly" value="0.04263"/>
	<property name="ycom_hipassembly" value="0.0"/>
	<property name="zcom_hipassembly" value="0.16931"/>
	<property name="m_hipassembly" value="2.93"/>
	<property name="ixx_hipassembly" value="0.05071"/>
	<property name="iyy_hipassembly" value="0.05486"/>
	<property name="izz_hipassembly" value="0.00571"/>
	<property name="ixy_hipassembly" value="-0.00004"/>
	<property name="ixz_hipassembly" value="-0.00159"/>
	<property name="iyz_hipassembly" value="-0.00005"/>
	<!-- Upper leg -->
	<property name="xcom_upperleg" value="0.15074"/>
	<property name="ycom_upperleg" value="0.02625"/>
	<property name="zcom_upperleg" value="0.0"/>
	<property name="m_upperleg" value="2.638"/>
	<property name="ixx_upperleg" value="0.00368"/>
	<property name="iyy_upperleg" value="0.02719"/>
	<property name="izz_upperleg" value="0.02811"/>
	<property name="ixy_upperleg" value="-0.00302"/>
	<property name="ixz_upperleg" value="0.0001"/>
	<property name="iyz_upperleg" value="0.00002"/>
	<!-- Lower leg -->
	<property name="xcom_lowerleg" value="0.1254"/>
	<property name="ycom_lowerleg" value="0.00004"/>
	<property name="zcom_lowerleg" value="-0.0001"/>
	<property name="m_lowerleg" value="0.881"/>
	<property name="ixx_lowerleg" value="0.00047"/>
	<property name="iyy_lowerleg" value="0.01256"/>
	<property name="izz_lowerleg" value="0.01233"/>
	<property name="ixy_lowerleg" value="0.00006"/>
	<property name="ixz_lowerleg" value="-0.00001"/>
	<property name="iyz_lowerleg" value="-0.0"/>

	<!-- PTU unit -->
	<property name="pan_velocity" value="1.0" />
	<property name="pan_range" value="2.775" />
	<property name="tilt_velocity" value="1.0" />
	<property name="tilt_up_range" value="0.52" />
	<property name="tilt_down_range" value="0.82" />
	<property name="joint_effort" value="30" /> 

	<!-- Asus Xtion Camera Location (Nominally 0) -->
	<property name="asus_xtion_x" value="0.009"/>
	<property name="asus_xtion_depth_y" value="0.045"/>
	<property name="asus_xtion_rgb_y" value="0.01875"/>
	<property name="asus_xtion_z" value="0.035"/>
	<property name="asus_xtion_roll" value="${-PI/2}"/>
	<property name="asus_xtion_pitch" value="0.0"/>
	<property name="asus_xtion_yaw" value="${-PI/2}"/>

	<!-- Kinect Camera Location (Nominally 0) -->
	<property name="kinect_x" value="0.025"/>
	<property name="kinect_ir_y" value="0.01"/>
	<property name="kinect_rgb_y" value="0.015"/>
	<property name="kinect_z" value="0.052"/>
	<property name="kinect_roll" value="${-PI/2}"/>
	<property name="kinect_pitch" value="0.0"/>
	<property name="kinect_yaw" value="${-PI/2}"/>
	
	<!-- Bumblebee mass and lengths for computing inertia tensor -->
	<property name="b2mass" value="0.342"/>
	<property name="b2lx" value="0.157"/>
	<property name="b2ly" value="0.036"/>
	<property name="b2lz" value="0.0474"/>

	<!-- Velodyne Lidar Location (Nominally 0) -->
	<property name="velodyne_x" value="0.0"/>
	<property name="velodyne_y" value="0.0"/>
	<property name="velodyne_z" value="0.09"/>

	<!-- HighDef Camera Location (Nominally 0) -->
	<property name="cal_high_def_x" value="0.0" />
	<property name="cal_high_def_y" value="0.0" />
	<property name="cal_high_def_z" value="0.0" />
	<property name="cal_high_def_roll" value="0.0" />
	<property name="cal_high_def_pitch" value="0.0" />
	<property name="cal_high_def_yaw" value="0.0" />

</robot>
