<launch>

	<!-- send hyq urdf to param server and spawn it -->
	<include file="$(find hyq_description)/launch/upload_hyq.launch"/>

	<arg name="gui" default="True"/>
	<arg name="rviz_conf" default="$(find hyq_description)/rviz_confs/hyq_model_tf.rviz"/>
	<param name="use_gui" value="$(arg gui)"/>

	<!-- publish the joint and robot states -->
	<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" respawn="true"/>
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" respawn="true">
		<param name="publish_frequency" value="250"/>
	</node>

	<!-- run rviz -->
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rviz_conf) -f trunk" respawn="true"/>

</launch>

