<launch>

	  <arg name="port" default="/dev/ttyUSB0" />

	  <!-- When you integrate into your platform, use the provided xacro macro to include
	       the D46 URDF with your larger platform description, and have your platform's
	       joint_state_publisher subscribe to the ptu state. -->
	  <!--param name="robot_description" textfile="$(find flir_ptu_description)/urdf/example.urdf" /--> 
	  <!--<param name="robot_description" textfile="$(find flir_ptu_description)/urdf/full_model.urdf" /> -->
	<!--  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find flir_ptu_viz)/rviz/urdf.rviz" required="true" /> -->
	


	<!-- send hyq urdf to param server and spawn it -->
	<include file="$(find hyq_description)/launch/upload_hyq.launch"/>

	<arg name="gui" default="True"/>
	<arg name="rviz_conf" default="$(find hyq_description)/rviz_confs/hyq_model_tf.rviz"/>
	

	<!-- publish the joint and robot states -->

	<group if="$(arg gui)">
		<node name="joint_state_publisher" pkg="joint_state_publisher"
			type="joint_state_publisher" respawn="true" />
			<param name="use_gui" value="$(arg gui)"/>
			<param name="rate" value="200"/>
	</group>

	<node name="robot_state_publisher" pkg="robot_state_publisher"
		type="state_publisher"><!-- respawn="true">-->
		<!--<param name="publish_frequency" value="200" />-->
	</node>
	
	  <node name="ptu_driver" pkg="flir_ptu_driver" type="ptu_node" ns="ptu">
	    <param name="port" value="$(arg port)" />
	    <remap from="state" to="/joint_states" />
	  </node>


	<!-- run rviz -->
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rviz_conf) -f trunk" respawn="true"/>




</launch>

